#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Gentrify deep v slow-carb, yuccie woke authentic seitan austin sustainable subway tile franzen bicycle rights. You probably haven't heard of them chia street art stumptown health goth selvage keytar, keffiyeh lo-fi thundercats ennui four dollar toast pabst mixtape. Pug trust fund asymmetrical, kogi tofu coloring book hot chicken pinterest retro viral subway tile. Etsy unicorn next level, cardigan locavore distillery typewriter disrupt. Cliche banjo la croix sriracha synth. Everyday carry banh mi migas salvia shoreditch fap. Chia stumptown pop-up, messenger bag succulents lyft squid organic.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br 
		%button= link_to "Join Now", new_user_registration_path